    <section class="main-header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="/img/white_logo.png" class="img-responsive" alt="logo" style="margin-top:-25px;"></a>
                </div>
                <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                    <div class="col-md-8 col-xs-12 nav-wrap">
                        <ul class="nav navbar-nav">
                            <li><a href="#owl-hero" class="page-scroll">Home</a></li>
                            <li><a href="/giveareview" class="page-scroll">Give a Review</a></li>
                            <li><a href="/addnewbusiness" class="page-scroll">Add Your Business</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div id="owl-hero" >
            <div class="item" style="background-image: url(/img/Slide.jpg)">
                <div class="caption">
                    <!-- <h6>Branding / Design / Creativty</h6>
                    <h1>We Are <span>Rise</span></h1>
                    <a class="btn btn-transparent" href="#">Learn More</a><a class="btn btn-light" href="#">Buy Now</a> -->
                    <h2><strong>Don't know what to order?</strong></h2>
                    <h2><strong>Let us help you!</strong></h2>
                    <hr class="sep">
                    </br>

                    <div class="container slider-content">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                            <!-- <div class="search-form wow pulse" data-wow-delay="0.8s"> -->
                                <form action="" class=" form-inline">
                                    <div class="form-group">
                                        <input type="text" class="form-control btn-transparent" placeholder="Restaurant">
                                    </div>
                                    <div class="form-group">
                                        <select name="" id="" class="form-control btn-transparent">
                                            <option selected>Select Your City</option>
                                            <option>New York, NY</option>
                                        </select>
                                    </div>
                                    <input type="submit" class="btn btn-transparent" value="Search">
                                </form>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Welcome
	============================================= -->
    <section id="welcome">
        <div class="container">
            <h3><strong>Welcome To Dish Finder</strong></h3>
            <hr class="sep">
            <p>Let us help find the popular dishes</p>
            <img class="img-responsive center-block wow fadeInUp" data-wow-delay=".3s" src="/img/logo.png" alt="logo">
        </div>
    </section>

    <!-- Portfolio
	============================================= -->
    <section id="portfolio">
        <div class="container-fluid">
            <h3><strong>Explore</strong></h3>
          </br></br>
            <!-- <hr class="sep"> -->
            <div class="row">
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                    <a class="portfolio-box" href="/img/1.jpg" data-lightbox="image-1" data-title="Your caption">
                        <img src="/img/1.jpg" class="img-responsive" alt="1">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                    <a href="/img/2.jpg" class="portfolio-box" data-lightbox="image-2" data-title="Your caption">
                        <img src="/img/2.jpg" class="img-responsive" alt="2">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                    <a href="/img/3.jpg" class="portfolio-box" data-lightbox="image-3" data-title="Your caption">
                        <img src="/img/3.jpg" class="img-responsive" alt="3">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                    <a href="/img/4.jpg" class="portfolio-box" data-lightbox="image-4" data-title="Your caption">
                        <img src="/img/4.jpg" class="img-responsive" alt="4">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                    <a href="/img/5.jpg" class="portfolio-box" data-lightbox="image-5" data-title="Your caption">
                        <img src="/img/5.jpg" class="img-responsive" alt="5">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                    <a href="/img/6.jpg" class="portfolio-box" data-lightbox="image-6" data-title="Your caption">
                        <img src="/img/6.jpg" class="img-responsive" alt="6">
                    </a>
                </div>
            </div>
        </div>
    </section>

      <!-- Contact Us ============================================= -->
<!--     <section id="contact">
        <div class="container">
            <h3><strong>Contact Us</strong></h3>
            <hr class="sep">
            <p>Get In Touch</p>
            <div class="col-md-6 col-md-offset-3 wow fadeInUp" data-wow-delay=".3s">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                    </div>
                    <a href="#" class="btn-block">Send</a>
                </form>
            </div>
        </div>
    </section>
 -->